.nav { 
    height: 3rem; 
    width: 100%; 
    font-weight: 700; 
    background-color: var(--color-primary-light);
    position: relative; 
    z-index: 100;
}

.nav__wrapper {
    margin: 0 auto;
    padding: 0 16px;
    height: 100%;
    max-width: 75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo { 
    display: block;
    height: 2.2rem;
    width: auto;
    transition: all .3s ease-in-out; 
}

.nav__logo:hover { 
    transform: scale(1.1); 
}

.nav__menu { 
    height: 100%; 
}

.nav__list { 
    height: 100%; 
    display: flex; 
    list-style: none; 
}

.nav__link {
    padding: 0 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.nav__link:hover { 
    background-color: var(--color-primary-deep); 
}

.nav__arrow { 
    margin-left: 8px; 
    height: 0.6rem; 
}

.nav__icons { 
    display: flex; 
    height: 100%; 
}

.nav__icon-link { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0 16px; 
}

.nav__icon-link:hover { 
    background-color: var(--color-primary-deep); 
}

.nav__icon { 
    max-height: 50%; 
}

.nav__icon-link:hover .nav__icon { 
    transform: scale(1.1); 
}

.nav__dropdown { 
    position: relative; 
}

.nav__dropdown-menu {
    position: absolute;
    z-index: 1;
    display: none;
    background-color: var(--color-primary-middle);
    list-style: none;
    left: 0;
}

.nav__link--sub { 
    display: block; 
    text-align: center; 
    padding: 1rem;
    white-space: nowrap;
}

.nav__link--sub:hover { 
    background-color: var(--color-primary-deep); 
}

.nav__toggle { 
    display: none; 
    background: none; 
    border: none; 
    cursor: pointer; 
}

.nav__toggle-icon { 
    height: 0.6rem; 
}

.nav__link--mobile { 
    display: none; 
}

.nav__dropdown-menu.is-open { 
    position: static; 
    display: block; 
}

